<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhuhong.inspection.mapper.ArticleMapper">

    <sql id="baseResult">
        a.id as id,
        a.title as title,
        a.author as author,
        a.type_code as typeCode,
        a.subject as subject,
        a.is_publish as isPublish,
        a.publish_time as publishTime,
        a.read_count as readCount,
        a.links as links,
        a.create_id as createId,
        a.create_time as createTime,
        a.update_id as updateId,
        a.update_time as updateTime,
        a.usable as usable
    </sql>

    <select id="getArticleListByCondition" resultType="com.zhuhong.inspection.vo.ArticleVo"
            parameterType="com.zhuhong.inspection.condition.ArticleCondition">
        select
            <include refid="baseResult"/>
            ,s.name as typeName
        from
            tb_article a
        left join tb_system_data s on s.code = a.type_code
        where
            a.usable = 1
            <if test="typeCode != null and typeCode != ''">
                and a.type_code = #{typeCode}
            </if>
            <if test="isPublish != null">
                and a.is_publish = #{isPublish}
            </if>
            <if test="searchPhrase != null and searchPhrase != '' ">
                and a.title like concat('%', #{searchPhrase}, '%')
            </if>
        <if test="orderName != null and orderName != '' ">
            order by a.${orderName} ${orderType}
        </if>
        <if test="orderName == null or orderName == '' ">
            order by a.update_time desc
        </if>
    </select>

    <select id="getArticleById" resultType="com.zhuhong.inspection.vo.ArticleVo">
        select
            <include refid="baseResult"/>
            ,a.content as content
            ,s.name as typeName
        from
            tb_article a
        left join tb_system_data s on s.code = a.type_code
        where
            a.usable = 1
            and a.id = #{articleId}
    </select>

    <select id="getArticleListWithOrder" resultType="com.zhuhong.inspection.vo.ArticleVo">
        select
            a.id as id,
            a.title as title,
            a.publish_time as publishTime,
            a.author as author,
            s.name as typeName
        from
            tb_article a
        left join tb_system_data s on s.code = a.type_code
        where
            a.usable = 1
            and a.is_publish = 1
        order by a.${orderName} desc
        limit ${limit}
    </select>

    <update id="addArticleReadCount" parameterType="java.lang.Integer">
        update tb_article set read_count = read_count + 1 where id = #{articleId}
    </update>

    <select id="getArticleCount" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        select
            count(id)
        from
            tb_article
        where
            usable = 1
            <if test="isNew == 1">
                and to_days(create_time) = to_days(SYSDATE())
            </if>
    </select>

</mapper>