<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhuhong.inspection.mapper.BannerMapper">

    <sql id="baseResult">
        b.id as id,
        b.name as name,
        b.path as path,
        b.type as type,
        b.size as size,
        b.remark as remark,
        b.is_view as isView,
        b.link as link,
        b.create_id as createId,
        b.create_time as createTime,
        b.update_id as updateId,
        b.update_time as updateTime,
        b.usable as usable
    </sql>

    <select id="getViewBannerList" resultType="com.zhuhong.inspection.vo.BannerVo"
            parameterType="com.zhuhong.inspection.condition.BannerCondition">
        select
            <include refid="baseResult"/>
            ,concat(#{baseUrl}, b.path, b.name) as viewUrl
        from
            tb_banner b
        where
            b.usable = 1
            <if test="isView != null">
                and b.is_view = #{isView}
            </if>
            <if test="searchPhrase != null and searchPhrase != ''">
                and b.name like concat('%', #{searchPhrase}, '%')
            </if>
        order by b.update_time desc
        <if test="limit != null">
            limit ${limit}
        </if>
    </select>

</mapper>