<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhuhong.inspection.mapper.CriterionMapper">

    <sql id="baseResult">
        c.id as id,
        c.name as name,
        c.category as category,
        c.type as type,
        c.status as status,
        c.publish_unit as publishUnit,
        c.publish_date as publishDate,
        c.implement_date as implementDate,
        c.summary as summary,
        c.create_id as createId,
        c.create_time as createTime,
        c.update_id as updateId,
        c.update_time as updateTime,
        c.usable as usable
    </sql>

    <select id="getCriterionListByCondition" resultType="com.zhuhong.inspection.vo.CriterionVo"
            parameterType="com.zhuhong.inspection.condition.CriterionCondition">
        select
            <include refid="baseResult"></include>,
            s.name as categoryName,
            d.name as typeName,
            t.name as publishUnitName
        from
            tb_criterion c
        left join tb_system_data_type s on s.type = 2 and s.value = c.category and s.code = #{categoryCode}
        left join tb_system_data_type d on d.type = 2 and d.value = c.type and d.code = #{typeCode}
        left join tb_system_data_type t on t.type = 2 and t.value = c.publish_unit and t.code = #{publishUnitCode}
        where
            c.usable = 1
            <if test="category != null and category != 0">
                and c.category = #{category}
            </if>
            <if test="type != null and type != 0">
                and c.type = #{type}
            </if>
            <if test="publishUnit != null and publishUnit != 0">
                and c.publish_unit = #{publishUnit}
            </if>
            <if test="status != null">
                and c.status = #{status}
            </if>
            <if test="startDate != null">
                and c.implement_date between #{startDate} and #{endDate}
            </if>
        order by c.update_time desc
    </select>

</mapper>