<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhuhong.inspection.mapper.LawMapper">

    <sql id="baseResult">
        l.id as id,
        l.name as name,
        l.code_number as codeNumber,
        l.category as category,
        l.type as type,
        l.status as status,
        l.publish_unit as publishUnit,
        l.publish_date as publishDate,
        l.implement_date as implementDate,
        l.process as process,
        l.content as content,
        l.source as source,
        l.create_id as createId,
        l.create_time as createTime,
        l.update_id as updateId,
        l.update_time as updateTime,
        l.usable as usable
    </sql>

    <select id="getLawListByCondition" resultType="com.zhuhong.inspection.vo.LawVo"
            parameterType="com.zhuhong.inspection.condition.LawCondition">
        select
            <include refid="baseResult"/>,
            s.name as categoryName,
            b.name as typeName,
            t.name as publishUnitName,
            d.name as sourceName,
            a.name as statusName
        from
            tb_law l
        left join tb_system_data s on s.code = l.category
        left join tb_law_type b on b.value = l.type and b.code = l.category
        left join tb_system_data t on t.code = l.publish_unit
        left join tb_system_data d on d.code = l.source
        left join tb_system_data a on a.code = l.status
        WHERE
            l.usable = 1
            <if test="currentId != null and currentId != 0">
                and l.id != #{currentId}
            </if>
            <if test="category != null and category != '' ">
                and l.category = #{category}
            </if>
            <if test="type != null and type != 0">
                and l.type = #{type}
            </if>
            <if test="publishUnit != null and publishUnit != '' ">
                and l.publish_unit = #{publishUnit}
            </if>
            <if test="status != null and status != '' ">
                and l.status = #{status}
            </if>
            <if test="source != null and source != '' ">
                and l.source = #{source}
            </if>
            <if test="startDate != null and startDate != '' ">
                and l.publish_date &gt;= #{startDate} and l.publish_date &lt;= #{endDate}
            </if>
            <if test="searchPhrase != null and searchPhrase != '' ">
                and l.name like concat('%', #{searchPhrase}, '%')
            </if>
        <if test="orderName != null and orderName != '' ">
            order by l.${orderName} ${orderType}
        </if>
        <if test="orderName == null or orderName == '' ">
            order by l.update_time desc
        </if>
    </select>

    <select id="getLawById" resultType="com.zhuhong.inspection.vo.LawVo"
            parameterType="com.zhuhong.inspection.condition.LawCondition">
        select
            <include refid="baseResult"/>,
            s.name as categoryName,
            b.name as typeName,
            t.name as publishUnitName,
            d.name as sourceName,
            a.name as statusName
        from
            tb_law l
        left join tb_system_data s on s.code = l.category
        left join tb_law_type b on b.value = l.type and b.code = l.category
        left join tb_system_data t on t.code = l.publish_unit
        left join tb_system_data d on d.code = l.source
        left join tb_system_data a on a.code = l.status
        where
            l.usable = 1
            and l.id = #{id}
    </select>

</mapper>