<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhuhong.inspection.mapper.SpotCheckMapper">

    <sql id="baseSql">
        s.id,
        s.company,
        s.producer,
        s.unit,
        s.sample,
        s.specification,
        s.expire_time as expireTime,
        s.product_type as productType,
        s.location,
        s.check_result as checkResult,
        s.subject,
        s.institution,
        s.publish_date as publishDate,
        s.is_fake as isFake,
        s.source_link as sourceLink,
        s.create_id as createId,
        s.create_time as createTime,
        s.update_id as updateId,
        s.update_time as updateTime,
        s.usable
    </sql>

    <select id="getSpotCheckListByCondition" resultType="com.zhuhong.inspection.vo.SpotCheckVo"
            parameterType="com.zhuhong.inspection.condition.SpotCheckCondition">
        select
            <include refid="baseSql"/>,
            s.sample as title,
            s.publish_date as publishTime
        from
            tb_spot_check s
        where
            s.usable = 1
            <if test="currentId != null and currentId != 0">
                and s.id != #{currentId}
            </if>
            <if test="productType != null and productType != ''">
                and s.product_type = #{productType}
            </if>
            <if test="institution != null and institution != '' ">
                and s.institution = #{institution}
            </if>
            <if test="checkResult != null and checkResult != '' ">
                and s.check_result = #{checkResult}
            </if>
            <if test="startDate != null and startDate != '' ">
                and s.publish_date &gt;= #{startDate} and s.publish_date &lt;= #{endDate}
            </if>
            <if test="searchPhrase != null and searchPhrase != '' ">
                and (s.unit like concat('%', #{searchPhrase}, '%') or s.producer like concat('%', #{searchPhrase}, '%'))
            </if>
        <if test="orderName != null and orderName != '' ">
            order by s.${orderName} ${orderType}
        </if>
        <if test="orderName == null or orderName == '' ">
            order by s.update_time desc
        </if>
    </select>

    <select id="getSpotCheckById" resultType="com.zhuhong.inspection.vo.SpotCheckVo"
            parameterType="com.zhuhong.inspection.condition.SpotCheckCondition">
        select
            <include refid="baseSql"/>
        from
            tb_spot_check s
        where
            s.usable = 1
            and s.id = #{id}
    </select>

    <select id="getInstitutionList" resultType="com.zhuhong.inspection.vo.SelectionLabel">
        select
            institution as code,
            institution as value,
            institution as label
        from
            tb_spot_check
        group by
            institution
    </select>

    <select id="getProductTypeList" resultType="com.zhuhong.inspection.vo.SelectionLabel">
        select
            product_type as code,
            product_type as value,
            product_type as label
        from
            tb_spot_check
        group by
            product_type
    </select>

    <select id="getSpotCheckCount" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        select
            count(id)
        from
            tb_spot_check
        where
            usable = 1
            <if test="isNew == 1">
                and to_days(create_time) = to_days(SYSDATE())
            </if>
    </select>

</mapper>